@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body >
    <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <a href="/home/index" class="navbar-brand" style="color: #ffffff;">Pocetna</a>
            <a href="/room/index" class="navbar-brand" style="color: #ffffff;">Sobe</a>
            <a href="/employee/index" class="navbar-brand" style="color: #ffffff;">Uposlenici</a>
            <a href="/reservation/index" class="navbar-brand" style="color: #ffffff;">Rezervacije</a>
            <a href="/guest/index" class="navbar-brand" style="color: #ffffff;">Gosti</a>
            <a href="/new/index" class="navbar-brand" style="color: #ffffff;">Novosti</a>
        </div>
    </nav>
    <div  style="background-color: #808080; min-height:1000px; color: #ffffff; " >
        <div class="container" style="padding-top: 20px;">
            <b>Dobrodošli!</b>
        </div>
    </div>
</body>
</html>
