<!DOCTYPE html>
<head>
    <title>Hotel Motel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/HomeStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="website_title">
                <div id="title"> DBC Resort </div>
                <div id="salgon"> Dobrodošli, <span style="color:#DF3A01">user</span>!</div>
            </div>
        </div>
        <!-- end of header -->
        <div id="banner">
            <div id="menu">
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Rezervacije</a></li>
                    <li><a href="#">Slike</a></li>
                    <li><a href="#">Registracija</a></li>
                    <li><a href="#" class="last">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <!-- end of banner -->
        <div id="content">
            <div id="content_left">
                <div class="content_left_section">
                    <div class="content_title_01">Rezervacije</div>
                    <form method="get" action="#">
                        <div class="form_row">
                            <label>Dolazak</label>
                            <select name="day">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                            <select name="month">
                                <option>Jan</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>April</option>
                                <option>Maj</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Okt</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                            <select name="year">
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2013</option>
                                <option>2024</option>
                            </select>
                        </div>
                        <div class="form_row">
                            <label>Odlazak</label>
                            <select name="day">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                            <select name="month">
                                <option>Jan</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                            <select name="year">
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2013</option>
                                <option>2024</option>
                            </select>
                        </div>
                        <div class="form_row">
                            <label>Broj kreveta:</label>
                            <input class="inputfield" name="person" type="text" style="width: 30px; margin-right: 20px;" />
                            <label>Broj soba:</label>
                            <input class="inputfield" name="person" type="text" style="width: 30px;" />
                        </div>
                        <div class="cleaner_h20">&nbsp;</div>
                        <div class="rc_btn_01"><a href="#">Provjeri sobe</a></div>
                    </form>
                    <div class="cleaner">&nbsp;</div>
                </div>
                <!-- end of booking -->
                <div class="cleaner_h30">&nbsp;</div>
                <div class="cleaner_horizontal_divider_01">&nbsp;</div>
                <div class="cleaner_h30">&nbsp;</div>
                <div class="content_left_section">
                    <div class="content_title_01">Novosti</div>
                    <div class="news_title">Otvaranje hotela Motel!</div>
                    <p>Nakon dugogodišnjeg developanja website-a, prestižni hotel Motel je otvoren.. <a href="#">Proširi</a></p>
                    <div class="cleaner_h30">&nbsp;</div>
                    <div class="news_title">Skandal sa layoutima</div>
                    <p>Programer T.M. je uhapšen i deportiran nakon skandaloznih saznanja o lošem dizajnu layouta za hotel Motel <a href="#">Proširi</a></p>
                    <div class="cleaner_h20">&nbsp;</div>
                    <div class="rc_btn_02"><a href="#">Proširi</a></div>
                </div>
                <!-- end of news section -->
            </div>
            <!-- end of content left -->
            <div id="content_right">
                <div class="content_right_section">
                    <div class="content_title_01">Welcome to hotel &amp; travel</div>
                    <img src="images/image_01.jpg" alt="" />
                    <p>Ovo je nevjerovatno Hotel Motel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, urna eu feugiat ultricies, turpis leo tempor lacus, in vestibulum diam nisl sed lorem. </p>
                    <p>Napisaćemo nešto već o hotelu bla bla bla bla bla bla bla</p>
                </div>
                <div class="cleaner_h40">&nbsp;</div>
                <div class="content_right_section">
                    <div class="content_title_01">Slike</div>
                    <div class="gallery_box"> <img src="Content/image_02.jpg" alt="" /> <a href="#">1</a> </div>
                    <div class="gallery_box"> <img src="Content/image_03.jpg" alt="" /> <a href="#">2</a> </div>
                    <div class="gallery_box"> <img src="Content/image_04.jpg" alt="" /> <a href="#">3</a> </div>
                    <div class="gallery_box"> <img src="Content/image_05.jpg" alt="" /> <a href="#">4</a> </div>
                    <div class="gallery_box"> <img src="Content/image_06.jpg" alt="" /> <a href="#">5</a> </div>
                    <div class="cleaner_h20">&nbsp;</div>
                    <div class="rc_btn_02"><a href="#">Proširi</a></div>
                    <div class="cleaner">&nbsp;</div>
                </div>
                <div class="cleaner_h20">&nbsp;</div>
            </div>
            <            <div class="cleaner">&nbsp;</div>
        </div>
        <div id="footer">
            Copyright &copy; 2015 <a href="#"><strong>DBC Resort</strong></a>
        </div>
        <!-- end of footer -->
    </div>
    <!-- end of container -->
    <!-- end of container -->
</body>
