@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Hotel Motel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/SiteStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="website_title">
                <div id="title"> DBC Resort </div>
                <div id="salgon"> Divine, Beautiful, Classy.</div>
            </div>
        </div>
        <!-- end of header -->
        <div id="banner">
            <div id="menu">
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Rezervacije</a></li>
                    <li><a href="#">Slike</a></li>
                    <li><a href="#">Registracija</a></li>
                    <li><a href="#" class="last">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <!-- end of banner -->
        <div id="content">
            <div id="content_left">
                <div class="content_left_section">
                    <div class="content_title_01">Registracija</div>
                    <form method="get" action="#">
                        <div class="rc_btn_01"><a href="#">OK</a></div>
                    </form>
                    <div class="cleaner">&nbsp;</div>
                </div>
                <!-- end of booking -->
                <div class="cleaner_h30">&nbsp;</div>
                <div class="cleaner_horizontal_divider_01">&nbsp;</div>
                <!-- end of news section -->
            </div>
            <!-- end of content left -->
        </div>
        <div id="footer">
            Copyright &copy; 2015 <a href="#"><strong>ETF Hotel Motel</strong></a>
        </div>
        <!-- end of footer -->
    </div>
    <!-- end of container -->
</body>
